.popup__error-message {
  display: block;
  visibility: hidden;
  color: #FF0000;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  min-height: 30px;
  margin-top: 1px;
}


.popup__error-message:last-of-type {
  min-height: 43px;
  margin-top: 5px;
}


@media screen and (max-width: 767px) {
  .popup__error-message:last-of-type {
    min-height: 40px;
  }
}
