.header__mobile-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__mobile-menu {
    display: grid;
    justify-content: center;
    justify-items: center;
    row-gap: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    padding-top: 41px;
    padding-bottom: 37px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
  }
}
