.card__title-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  margin: 23px 20px 18px 21px;
}

@media screen and (max-width: 767px) {
  .card__title-wrapper {
    margin-bottom: 25px;
  }
}
