.header__menu {
  display: grid;
  grid-auto-flow: column;
  align-items: baseline;
  column-gap: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding-top: 7px;
}

@media screen and (max-width: 767px) {
  .header__menu {
  font-size: 14px;
  line-height: 17px;
  }
}
