.popup__container {
  position: relative;
  width: 430px;
  background-color: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 36px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
    padding: 27px 22px 24px;
  }
}
