.header__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.header__button:hover {
  opacity: 0.6;
}
