.card__heart {
  background-color: transparent;
  background-image: url(../../../images/elements-heart.svg);
  background-repeat: no-repeat;
  background-position: center right;
  width: 24px;
  height: 19px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.card__heart:hover {
  opacity: 0.5;
}
